<a href="https://colab.research.google.com/github/giuseppedonatellis/python-training/blob/main/Day02_collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
specie = ["lupo", "volpe", "orso"]
print(specie[0])       # primo elemento
specie.append("cervo") # aggiungo un elemento
print(specie)

lupo
['lupo', 'volpe', 'orso', 'cervo']

In [2]:
coordinate = (41.2, 14.8)
print(coordinate[0])
print(coordinate[1])

41.2
14.8

In [3]:
animali = {"lupo": 12, "volpe": 8, "orso": 3}
print(animali["lupo"])
animali["cervo"] = 5
print(animali)

12
{'lupo': 12, 'volpe': 8, 'orso': 3, 'cervo': 5}

In [4]:
specie_animali = {
    "lupo": 15,
    "volpe": 22,
    "orso": 7,
    "cervo": 30
}

print("Abbondanza lupo:", specie_animali["lupo"])

for nome, abbondanza in specie_animali.items():
    if abbondanza > 10:
        print(nome, ":", abbondanza)

Abbondanza lupo: 15
lupo : 15
volpe : 22
cervo : 30